body {
	background: #fff;
    color: #616161;
	font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	margin: 0 0;
	margin-bottom: 100px;
    text-align:center;
    box-sizing: border-box;
}
em {
	color: #999;
}
p {
	font-size: 90%;
}

a {
	color: #2C85B1;
	text-decoration: none;
	font-weight: 400;
}
ul {
	margin-bottom: 0;
}
section {
	margin: 1em 0 1em;
    clear: both;
}
blockquote {
	margin: 0;
	margin-bottom: 1em;
}
#resume {
    width: 90%;
    margin: 0 auto;
	max-width: 760px;
    text-align: left;
}

/* Resume heading */
.heading {
    display: table;
    width: 100%;
    height: 6em;
}

.myname {
	font-size: 300%;
    margin: 0;
    padding: 0.3em 0;
	font-weight: 600;
    display: table-cell;
    vertical-align: top;
    overflow: hidden;
    width: 49.5%;
}

.heading header h2 {
	font-size: 140%;
	margin: 0 1em 0 0;
}

.contact-wrapper {
    font-size: 12px;
    text-align: right;
    display: table-cell;
    vertical-align: top;
    width: 49.5%;
}

.profile {
	display: inline-block;
	margin: 0;
}

.profile strong,
.profile span {
	display: inline-block;
	margin: 0;
}
/* section / line breaks */
section h2 {
	font-size: 100%;
    letter-spacing: 0.06em;
	margin: 0 0 0.5em;
	text-transform: uppercase;
	color: #BC1B39;
	font-weight: 400;
    display: inline-block;
    width: 10%;
}

/* Experience items */
.item,
.note {
    float: right;
    width: 80%;
	margin: 0 0 0.5em 1em;
}

.item {
	border-bottom: 1px dotted #FAE9EC;
	padding: 0 0 1em;
}

.item:last-child {
	border-bottom: none;
}

.item header {
    display: inline-block;
}

.item header h3 {
	margin: 0;
	display: inline-block;
	font-weight: 600;
    font-size: 120%;
}

.item header a {
	display: inline-block;
}

.note {
    display: inline-block;
    font-style: italic;
	margin: 0 0 0.5em 1em;
    float: right;
	font-weight: 400;
	font-size: 100%;
}

.item .position {
    display: block;
	font-weight: 400;
	font-size: 100%;
    font-style: italic;
}

.detail:not(:last-child):after,
.profile:not(:last-child):after {
    content: "\00b7";
    margin: 0 0.5em 0 0.5em;
}

.separator {
    margin: 0 0.5em 0 0.5em;
}

.separator::after {
    content: "\00b7";
}

.date {
    float: right;
    text-align: right;
}

.date .startDate,
.date .endDateAppendedText,
.date .endDate {
	color: #6B6B6B;
    font-weight: 200;
}

.date .endDateAppendedText {
    margin-right: 0.5em;
}

.item .date {
    display: inline-block;
}

.item .summary p {
    margin: 0.5em 0;
}

.item .projectsSummary p {
    margin: 0;
}

.item .specificFields {
    margin-left: 1.5em;
    width: 95%;
}

.item .subHeader p {
    display: inline-block;
    margin: 0;
}

.item .subHeaderTitle {
    display: inline-block;
    font-weight: 600;
}

.item .whatIDid {
    font-weight: 600;
    margin: 0;
}

.item .highlights {
    margin-top: 0;
	list-style: circle inside;
	font-size: 90%;
    padding-left: 2em;
    text-indent: -2em;
}

.qualification {
    font-style: italic;
}

/* print settings */

@media print {

    body {
        color: black;
    }

    .date {
        color: black;
    }

}
